body {
  text-align: center;
  font-size: 24px;
}

#brand {
  height: 5em;
  width: 10em;
}

.section {
  padding: 100px;
}

.footer {
  padding: 50px;
}

.error {
  color: red;
}

.hide {
  display: none;
}

#spinner {
  padding: 20px;
}
